*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
}

html{
    height: 100%;
}

body{
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: white;
}

#rettangle{
    height: 87%;
    width: 63%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 30px;
}

#position{
    height: 100%;
    width: 83%;
    margin: 0 auto;
}

header div:first-child{
    text-align: center;
}

header img{
    width: 25%;
    margin-top: 100px;
}

header h1{
    font-size: 28px;
    color: #00dd00;
}

#green_line{
    margin-top: 5px;
    height: 45px;
    background-color: #00dd00;
}

#green_line button{
    margin-top: 12px;
    height: 20px;
    line-height: 15px;
    text-align: center;
    
}

main section strong{
    display: block;
    margin-top: 20px;
    font-size: 22px;
}

main section span{
    display: block;
    font-size: 15px;
}

.charge_bar{
    margin-top: 3px;
    display: inline-block;
    height: 30px;
    border-radius: 5px;
}

#orange.charge_bar{
    background-color: #f5b453;
    width: 35%;
}

#green.charge_bar{
    background-color: #1ec31e;
    width: 60%;
}

#red.charge_bar{
    background-color: #be4141;
    width: 15%;
}